<div class="artist-details-container">

    <!-- ARTIST TRACKS -->
    <div class="tracks-container">
       <app-table
            *ngIf="tracks.length"
            title="Top Tracks"
            [tableType]="TableType.Track"
            [items]="tracks"
            [artistKnown]="true"
            [seeMoreBtnVisible]="true"
            (seeMore)="onSeeMoreTracksBtnClick()"
            (trackSelected)="onTrackSelected($event)"></app-table>

        <p *ngIf="noTracksAvailable"
            class="no-results-label">
            No Tracks Available 
        </p>
    </div>
</div>
