@import '../../../styles/variables';
@import '../../../styles/mixins';

.artist-table-row {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.artist-avatar-placeholder {
    border-radius: 25px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.primary-content {
    /** pushes the twitter link to the far right */
    flex-grow: 2;
    overflow: hidden;
}

/** The link to the artist's Twitter profile. */
.twitter-link {
    @include flex-centered;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.twitter-link img {
    width: 30px;
    height: 30px;
}

.artist-name {
    color: $text-color-dark;
    font-weight: 500;

    @include truncate-ellipsis;
}

/**
 * prevent the artist avatar and twitter link
 * from shrinking due to a long artist name:
 */
.artist-avatar-placeholder,
.twitter-link {
    flex-shrink: 0;
}
