@import '../../../styles/variables';

#artist-details-page {
    padding-top: 12px;
}

.primary-content {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 48px;
}

.artist-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 100%;
    }
}

.artist-details {
    text-align: center;
    margin-bottom: 48px;

    .artist-name {
        color: $text-color-dark;
        margin-top: 12px;
        margin-bottom: 6px;
        cursor: pointer;
    }

    .artist-albums-and-tracks {
        color: $text-color;
        font-weight: 300;
    }
}
