<ul class="category-tabs">
    <li (click)="onTabClick(TabCategory.All)">
        <a class="tab-link"
            [class.tab-link-active]="activeTab === TabCategory.All">
            All 
        </a> 
    </li> 
    <li (click)="onTabClick(TabCategory.Artists)">
        <a class="tab-link"
            [class.tab-link-active]="activeTab === TabCategory.Artists">
            Artists 
        </a> 
    </li> 
    <li (click)="onTabClick(TabCategory.Tracks)">
        <a class="tab-link"
            [class.tab-link-active]="activeTab === TabCategory.Tracks">
            Tracks 
        </a> 
    </li> 
</ul>
