<div id="landing-page">
       <app-tabs
            [activeTab]="activeTab"
            (selected)="onTabSelected($event)"></app-tabs>

       <!-- POPULAR ARTISTS -->
       <section class="artists" *ngIf="artistsVisible">
           <h4>
                Popular Artists 
           </h4> 
           <div class="loading-indicator" *ngIf="searchingArtists">
               <app-loading-indicator
                   label="searching artists"></app-loading-indicator> 
           </div>
           <app-table
                *ngIf="popularArtists.length"
               [tableType]="TableType.Artist"
               [items]="popularArtists"
               (artistSelected)="onArtistSelected($event)"></app-table>
       </section>

       <!-- POPULAR TRACKS -->
       <section class="tracks" *ngIf="tracksVisible">
           <h4>
                Popular Tracks 
           </h4> 
           <div class="loading-indicator" *ngIf="searchingTracks">
               <app-loading-indicator
                   label="searching tracks"></app-loading-indicator> 
           </div>
           <app-table
                *ngIf="popularTracks.length"
               [tableType]="TableType.Track"
               [items]="popularTracks"
               (trackSelected)="onTrackSelected($event)"></app-table>
       </section>
</div>
