<footer>

    <!-- MUSIXMATCH BUTTON LINK -->
    <a class="btn-musixmatch"
       [href]="MUSIX_MATCH_HREF"
       target="_blank"
       rel="noopener noreferrer">
       <img src="./assets/img/musixmatch.png"
            srcset="./assets/img/musixmatch.png 1x,
                    ./assets/img/musixmatch@2x.png 2x"
            alt="musixmatch credit" />  
    </a> 

    <!-- Dev Note -->
    <div class="dev-note">
       <p>
            This prototype was created by
            <a href="https://h-n-y.github.io/my-portfolio">
                Hans Yelek 
            </a> 
            .
       </p> 
       <p>
            View source on
            <a href="https://github.com/h-n-y/melody">
                GitHub 
            </a> 
            .
       </p>
    </div>
</footer>
