/** class added to body when a modal is visible to
 * prevent page scrolling
 */
body.no-scroll {
    overflow: hidden;
}

a {
    color: $link-color;
}

/**
 * MODALS
 */

/** prevents modal from dismissing when it's clicked */
.modal {
    pointer-events: all;
}
