* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
button,
input {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

button,
input {
    border: none;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

/**
 * TABLET LANDSCAPE AND UP
 */

@include for-tablet-landscape-up {

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

}
