<div id="welcome-modal" class="modal">
       <h2 class="modal-header">
            Welcome to <span>Melody</span> 
       </h2>
       <div class="about-app">
           <p>
                Melody is a prototype app      
                <br>
                for searching
                <br>
                artists, tracks, and song lyrics
           </p> 
       </div>
       <button
            class="btn-got-it"
           (click)="onUserGotIt()">
            Got it 
       </button>
</div>
