<div class="loading-indicator-wrapper">
    <div class="loading-indicator">
             
        <div class="bar">
            <div class="bar-overlay"></div> 
        </div>
        <div class="bar">
            <div class="bar-overlay"></div> 
        </div>
        <div class="bar">
            <div class="bar-overlay"></div> 
        </div>
        <div class="bar">
            <div class="bar-overlay"></div> 
        </div>
        <div class="bar">
            <div class="bar-overlay"></div> 
        </div>

    </div>
        
    <label *ngIf="label">
        {{ label }} 
    </label>
</div>
