@import '../../../styles/mixins';
@import '../../../styles/variables';

/**
 *
 * experimenting with different colors on hover...
 *
 *
.track-table-row:hover {
    background-color: $navy-blue;

    .track-name,
    .track-artist,
    .track-album {
        color: white;
    }

    .track-artist {
        opacity: 0.8;
    }

    .track-album {
        opacity: 0.6;
    }
}
*/

/** prevents track icon from shrinking in case of long track name */
.icon-placeholder {
    flex-shrink: 0;
}

.icon-placeholder img {
    width: 100%;
}

.primary-content {
    overflow: hidden;
}

h4 {
    font-weight: 500;
}

.track-name,
.track-artist {
    @include truncate-ellipsis;
}

.track-name {
    margin-bottom: 4px;
    color: $text-color-dark;
}

.track-artist {
    font-size: 14px;
    color: $text-color;
}

.track-album {
    font-size: 12px;
    font-weight: 400;
    color: $text-color-light;
}
