<header>

       <!-- PRIMARY NAVIGATION -->
       <!--


           Will build this out later.

       <nav>
           <ul class="nav-links">
               <li>
                   <a>
                        Popular 
                   </a> 
               </li>  
               <li>
                   <a>
                        Genre 
                   </a> 
               </li>  
           </ul> 
       </nav>
       -->

       <div id="home-page-link-wrapper">
           <a routerLink="/home">
               Home
           </a>
       </div>

       <!-- SEARCH BAR -->
       <div class="search-bar-container"> 
             
           <!-- Faux search bar 
               This is the "search bar" ui the user clicks to present the modal search bar
               component. -->
           <div class="faux-search-bar"
               (click)="onSearchBarClick()">
                <img src="./assets/icons/search.png"
                     srcset="./assets/icons/search.png,
                            ./assets/icons/search@2x.png 2x"
                     alt="search icon" />
                <span class="faux-search-bar__placeholder">
                    Search 
                </span>
           </div>
       </div>
</header>
